@tailwind base;
@tailwind components;
@tailwind utilities;


mark {
  background: linear-gradient(104deg, rgba(74, 168, 184,0) 0.9%, rgba(74, 168, 184,1.25) 2.4%, rgba(74, 168, 184,0.5) 5.8%, rgba(74, 168, 184,0.1) 93%, rgba(74, 168, 184,0.7) 96%, rgba(74, 168, 1842,0) 98%), linear-gradient(183deg, rgba(74, 168, 184,0) 0%, rgba(74, 168, 184,0.3) 7.9%, rgba(74, 168, 184,0) 15%);
  padding: 0.6em 13.7px;
  -webkit-box-decoration-break: clone;
  margin: 0;
  border-radius: 7.5px;
  text-shadow: -12px 12px 9.8px rgba(74, 168, 184,0.7), 21px -18.1px 7.3px rgba(255, 255, 255,1), -18.1px -27.3px 30px rgba(255, 255, 255,1);
}

.drawer-container {
  /*position: relative; /* Container relative for card alignment */
  height: 100%; /* Adjust if necessary */
  padding-top: 0.5rem; /* Space for title */
  overflow: visible; /* Allow parts of cards to be visible outside container */
}
.card {
  width: 7rem; /* Card width */
  height: 10rem; /* Card height */
  border-radius: 0.5rem;
  border-color: black;
  border-width: 0.1rem;
  transition: transform 0.3s;
}

.card-faceup {
  padding-left: 1.3rem; 
  padding-right: 1rem;
  padding-top: 1.5rem;
  width: 14rem; /* Card width */
  height: 19rem; /* Card height */
}

.card-container {
  display: flex;
  /*height: 11rem;*/
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: margin 0.3s;
}
.card:hover {
  transform: scale(1.1); /* Enlarge on hover */
  z-index: 10; /* Ensure it rises above other elements */
}
.card:not(:first-child) {
  margin-left: -4rem; /* Overlap cards */
}

.card-vertical {
  width: 7rem; /* Card width */
  height: 10rem; /* Card height */
  border-radius: 0.5rem;
  border-radius: 0.5rem;
  border-color: black;
  border-width: 0.1rem;
  transition: transform 0.3s;
  /*position: relative; /* Position relative for z-index control on hover */
  z-index: 1; /* Default z-index */
}
.card-vertical:hover {
  transform: scale(1.1); /* Enlarge on hover */
  z-index: 10; /* Ensure hovered card is above others */
}
.card-vertical:not(:first-child) {
  margin-top: -7rem; /* Overlap cards */
}



.sized-card {
  width: 28rem;
  aspect-ratio: 28/39;
  max-width: 100%;
}

.deck > .sized-card:not(:first-child) {
  margin-top: -39.2rem; /* Overlap cards */
}

.card-border {
  border-radius: .5rem;
  border-color: #000;
  border-width: 0.1rem;
}

.flip-card {
  will-change: transform;
  transition: transform 1.5s cubic-bezier(.09,-0.39,.27,1.38); 
  transform-style: preserve-3d;
  position: relative;
}

.flip-card:hover {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  border-radius: .5rem;
  border-color: #000;
  border-width: 0.1rem;
}

.flip-card-back {
  will-change: transform;
  transform: rotateY(180deg);
}


